:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Reddit Mono", monospace;
  color: #272727;
}

body {
  margin: 0;
  /* background-image: url(/pics/body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: #009fb7;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  /* background-image: url(/pics/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #fed766;
  grid-template-areas:
    "logo nav"
    "searchbar searchbar"
    "city city";
  padding: 1rem;

  .logo {
    grid-area: logo;
  }

  nav {
    grid-area: nav;
    justify-self: end;
  }

  .searchbar {
    grid-area: searchbar;
    /* border:solid; */
    margin: 1rem auto;

    input {
      border-radius: 0.5rem;
      &[placeholder] {
        text-align: center;
        padding: 0.7rem;
      }
    }
  }

  .city {
    grid-area: city;
    background-color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}

main {
  margin-top: 0.5rem;
  .today {
    .now {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "where . . date"
        "h3 h3 h3 h3"
        "celsius celsius picture picture"
        "celsius celsius picture picture";
      border: 4px solid gray;
      border-radius: 0.5rem;
      /* background-image: url(/pics/now.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; */
      background-color: #ececec;

      .where {
        grid-area: where;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .date {
        grid-area: date;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      h3 {
        grid-area: h3;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        justify-content: center;
      }
      .celsius {
        grid-area: celsius;
        font-size: 3rem;
        justify-self: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      .picture {
        grid-area: picture;
        justify-self: center;
        height: 5rem;
        i {
          font-size: 5rem;
        }
      }
    }
    .later {
      overflow-x: scroll;
      white-space: nowrap;
      scrollbar-width: thin;
      div {
        width: 5rem;
        display: inline-block;
        margin-bottom: 1rem;
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 0.2rem;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }
  }
  .next-days {
    margin-top: 1rem;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;

    h2 {
      text-align: center;
      position: sticky;
      left: 2rem;
    }

    div {
      width: 7rem;
      display: inline-block;
      margin-bottom: 1rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.2rem;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }

  .weather-action {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

footer {
  .blogs {
    display: grid;
    justify-content: center;
    background-color: #ececec;
    margin-top: 1rem;

    .icons {
      display: flex;
      justify-content: center;
      gap: 2rem;

      i {
        font-size: 2rem;
        color: #696773;
        margin-bottom: 3rem;
      }
    }
  }

  .contact {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #696773;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
