:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Reddit Mono", monospace;
}

body {
  margin: 0;
  background-color: burlywood;
}

header {
  position:sticky;
  Top:0;
  z-index:1;
  display: grid;
  background-image: url(/pics/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-areas:
    "logo nav"
    "searchbar searchbar"
    "city city";
  padding: 1rem;

  .logo {
    grid-area: logo;
  }

  nav {
    grid-area: nav;
    justify-self: end;
  }

  .searchbar {
    grid-area: searchbar;
    margin: 1rem 0;
    textarea {
      border-radius: 0.5rem;
      &[placeholder] {
        text-align: center;
      }
    }
  }

  .city {
    grid-area: city;
    background-color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
  }
}

main {
  margin-top: 1rem;
  .today {
    .now {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "where . . date"
        "h3 h3 h3 h3"
        "celsius celsius picture picture"
        "celsius celsius picture picture";
      border: 1px solid gray;
      border-radius: 0.5rem;
      background-image: url(/pics/now.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .where {
        grid-area: where;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display:flex;
        align-items: center;
        justify-content: center;
      }
      .date {
        grid-area: date;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      h3 {
        grid-area: h3;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        justify-content: center;
      }
      .celsius {
        grid-area: celsius;
        font-size: 3rem;
        justify-self: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
      .picture {
        grid-area: picture;
        justify-self: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        height:5rem;
        i {
          font-size: 5rem;
        }
      }
    }
    .later {
      margin-top: 1rem;
      overflow-x: scroll;
      white-space: nowrap;

      div {
        width:  5rem;
        display: inline-block;
        margin-bottom: 1rem;
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 0.2rem;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }
  }
  .next-days {
    margin-top: 1rem;
    overflow-x: scroll;
    white-space: nowrap;

    h2 {
      text-align: center;
      position:sticky;
      left:2rem;
    }

    div {
      width: 7rem;
      display: inline-block;
      margin-bottom: 1rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      padding: 0.2rem;
      background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }

  .weather-action {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
